{{#each playlists}}
  <section class="ui purple inverted segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <a href="/playlist/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
  </section>
{{/each}}