<nav class="ui inverted menu">
  <header class="ui purple header item"> My Playlist App </header>

  <div class="right inverted menu">
    <a id="dashboard" class="ui purple header item"href="/dashboard"> Dashboard  </a>
  </div> 
</nav>

  <body>
      {{listsongs}}
  </body>

<script>
  $("#{{id}}").addClass("active item");
</script>
